<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpt.dao.person.PersonDao">
    <resultMap id="BaseResultMap" type="com.mpt.entity.Person">
        <result column="Id" jdbcType="INTEGER" property="id" />
        <result column="LastName" jdbcType="VARCHAR" property="lastName" />
        <result column="FirstName" jdbcType="VARCHAR" property="firstName" />
        <result column="Address" jdbcType="VARCHAR" property="address" />
        <result column="City" jdbcType="VARCHAR" property="city" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        Id, LastName, FirstName, Address, City
    </sql>
    <select id="selectByExample" parameterType="com.mpt.entity.PersonExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from person
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.mpt.entity.PersonExample">
        delete from person
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="com.mpt.entity.Person" useGeneratedKeys="true">
        insert into person (LastName, FirstName, Address,
        City)
        values (#{lastname,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="com.mpt.entity.Person" useGeneratedKeys="true">
        insert into person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lastname != null">
                LastName,
            </if>
            <if test="firstname != null">
                FirstName,
            </if>
            <if test="address != null">
                Address,
            </if>
            <if test="city != null">
                City,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lastname != null">
                #{lastname,jdbcType=VARCHAR},
            </if>
            <if test="firstname != null">
                #{firstname,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.mpt.entity.PersonExample" resultType="java.lang.Long">
        select count(*) from person
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update person
        <set>
            <if test="record.id != null">
                Id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.lastname != null">
                LastName = #{record.lastname,jdbcType=VARCHAR},
            </if>
            <if test="record.firstname != null">
                FirstName = #{record.firstname,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                Address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.city != null">
                City = #{record.city,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update person
        set Id = #{record.id,jdbcType=INTEGER},
        LastName = #{record.lastname,jdbcType=VARCHAR},
        FirstName = #{record.firstname,jdbcType=VARCHAR},
        Address = #{record.address,jdbcType=VARCHAR},
        City = #{record.city,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <!-- 通用查询结果列 -->
    <select id="findPersonById" parameterType="int" resultType="com.mpt.entity.Person">
        select * from person where id=#{id}
    </select>


    <select id="insertPerson">
        insert into person values (5,'pancho','tian','tianjing','china')
    </select>



</mapper>
