<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpt.dao.person.PersonDao">


    <!-- 通用查询结果列 -->
    <select id="findPersonById" parameterType="int" resultType="com.mpt.entity.Person">
        select * from person where id=#{id}
    </select>


    <select id="insertPerson">
        insert into person values (5,'pancho','tian','tianjing','china')
    </select>
</mapper>
